# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

moc_ftmarker_gui.cpp

moc_mainwindow.cpp

moc_predefs.h

moc_qcustomplot.cpp

moc_radiosettings.cpp

moc_sigtuner_gui.cpp

moc_sweeper.cpp

moc_wgt_fft.cpp

moc_wgt_marker_editor.cpp

moc_wgt_marker_table.cpp

moc_wgt_waterfall.cpp

moc_ftmarker.cpp

ui_mainwindow.h

ui_radiosettings.h

ui_wgt_fft.h

ui_wgt_marker_editor.h

ui_wgt_marker_table.h

ui_wgt_waterfall.h

SpectralRF

.qmake.stash

Makefile

SpectralRF.pro.user

.qtc_clangd/.cache/clangd/index/

SpectralRF.pro.user.613a9eb

SpectralRF.pro.user.8cc587e

SoapySDR

.qtc_clangd/

*.idx

SpectralRF.pro.user.613a9eb

.qtc_clangd/compile_commands.json
